@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700);

body{
	background: #FAFAFA;
}

h1,h2{
	font-family: 'Signika Negative', sans-serif;
	font-weight: 700;
}

li{
	list-style: none;
}

.saludo{
	margin: 2em auto;
	font-size: 8em;
	color: #777;
	text-shadow: 1px 1px 1px black;
}

.table td{
	vertical-align: middle !important;
}

.table .progress{
	margin-bottom: 0;
}

.sombra{
	text-shadow: 1px 2px rgba(0,0,0,0.2);
	-ms-text-shadow: 1px 2px rgba(0,0,0,0.2);
	-moz-text-shadow: 1px 2px rgba(0,0,0,0.2);
	-o-text-shadow: 1px 2px rgba(0,0,0,0.2);
}

.rojo{
	color: #FA5858 !important;
}

.formulario{
	margin-top: 1em;
	margin-bottom: 1em;
}

.tderecha{
	text-align: right !important;
}